<div class="card-wrapper">
  {{#isLink imageUrl}}
    <a href="/auctions/{{id}}" class="card" style="background-image: url('{{imageUrl}}');">
  {{else}}
    <a href="/auctions/{{id}}" class="card" style="background-image: url('/images/{{imageUrl}}');">
  {{/isLink}}
    <header>{{title}}</header>
    <p class="starting-price">Starting Price: ${{startingPrice}}</p>
  </a>
</div>