<section class="container">
  <h3 class="auction-name">{{individualAuction.title}}</h3>
  <p class="description">{{individualAuction.description}}</p>
  <p class="starting-price">{{individualAuction.startingPrice}}</p>
  <p class="end-date">{{individualAuction.endDate}}</p>
  <p class="creation-date">{{individualAuction.createdAt}}</p>
  <p class="updated-date">{{individualAuction.updatedAt}}</p>
  {{!-- {{#if isOwner}}
    <a href="/" class="update-link">Update</a>
  {{/if}} --}}
</section>