<link rel="stylesheet" href="/css/auctionPage.css" />

<section class="container">
  <h3 class="auction-name">{{individualAuction.title}}</h3>
  <img src="{{individualAuction.imageUrl}}" alt="Item Image" class="max-size-img"/>
  <p id="starting-price" class="starting-price">${{individualAuction.startingPrice}}</p>
  <br>
  <a> Item Description: </a>
  <p class="description"> {{individualAuction.description}}</p>
  <br>
  <a>  Auction List Date: </a>
  <p class="creation-date"> {{individualAuction.createdAt}}</p>
  <br>
  <a> Auction End Date: </a> 
  <p class="end-date"> {{individualAuction.endDate}}</p>
  <br>
  <a>  Last Updated: </a>
  <p class="updated-date"> {{individualAuction.updatedAt}}</p>
  <br>
  <!-- Placeholder for error message -->
  <div id="error-message"></div>

  <!-- Placeholder for success message -->
  <div id="success-message"></div>

  <!-- Bid form (conditionally rendered based on user login status) -->
  {{#if logged_in}}
  <form id="bid-form" data-auction-id="{{individualAuction.id}}">
    <input type="number" name="amount" placeholder="Enter bid amount" required>
    <button type="submit" class="primary-btn">Place Bid</button>
  </form>
  {{else}}
  <p>Login to place a bid</p>
  {{/if}}
</section>
